<div class="page-header">
  <%= link_to coordinates_path(:page_id=>@coordinate.page_id), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

  <h1>Editing coordinate</h1>
</div>

<%= render 'form' %>
